:root {
    --bg: #2e312c;
    --txt: #f8fff3;
    --fg: #B4B8C5;
    --strong: #c7f0ad;
    --contrast: #eea00c;
}



@media screen and (min-width: 801px) {
    body {
        background-color: var(--bg);
        color: var(--txt);
        font-family: 'Roboto Mono';
        margin: 0.5vw;
        padding-top: 7vh;
    }
}

@media screen and (max-width: 800px) {
    body {
        background-color: var(--bg);
        color: var(--txt);
        font-family: 'Roboto Mono';
        margin: 6vw;
        padding-top: 7vh;
    }
}

@font-face { font-family: Eunoia; src: url('eunoia.ttf'); }
@media screen and (min-width: 801px) {
    h1 {
        font-family: "Eunoia";
        letter-spacing: normal;
        font-size: 6vw;
        margin: 0 0 12px 0;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-family: "Eunoia";
        letter-spacing: normal;
        font-size: 10vw;
        margin: 0 0 12px 0;
    }
}


h4 {
    margin: 0;
    font-size: 1.6vh;
    font-style: normal;
}

p {
    margin: 0;
    font-size: 1.4vh;
}

.title {
    text-align: left;
    margin:  auto;
    margin-top: 3vh;
    margin-bottom: 60px;
    width: fit-content;
}

@media screen and (min-width: 801px) {
    #intro {
        margin:  auto;
        width: 70%;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 800px) {
    #intro {
        margin:  auto;
        width: 90%;
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 801px) {
    #socials {
        margin:  auto;
        width: 70%;
        margin-bottom: 180px;
    }
}

@media screen and (max-width: 800px) {
    #socials {
        margin:  auto;
        width: 90%;
        margin-bottom: 180px;
    }
}

@media screen and (min-width: 801px) {
    .projects {
        margin:  auto;
        width: 70%;
        margin-bottom: 180px;
    }
}

@media screen and (max-width: 800px) {
    .projects {
        margin:  auto;
        width: 90%;
        margin-bottom: 180px;
    }
}


.intro-text {
    margin: 10px;
}



.contrast {
    color: var(--contrast)
}

.strong {
    color: var(--strong)
}

a {
    color: var(--contrast)
}

a :visited {
    color: var(--contrast)
}