:root {
    --bg: #2e312c;
    --txt: #f8fff3;
    --fg: #B4B8C5;
    --strong: #c7f0ad;
    --contrast: #eea00c;
}



@media screen and (min-width: 601px) {
    body {
        background-color: var(--bg);
        color: var(--txt);
        font-family: 'Roboto Mono';
        margin: 0.1vw;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: var(--bg);
        color: var(--txt);
        font-family: 'Roboto Mono';
        margin: 6vw;
    }
}

@font-face { font-family: Eunoia; src: url('eunoia.ttf'); }
@media screen and (min-width: 601px) {
    h1 {
        font-family: "Eunoia";
        letter-spacing: normal;
        font-size: 10vw;
        margin: 0 0 12px 0;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-family: "Eunoia";
        letter-spacing: normal;
        font-size: 10vw;
        margin: 0 0 12px 0;
    }
}


h4 {
    margin: 0;
    font-size: 1.6vh;
    font-style: normal;
}

p {
    margin: 0;
    font-size: 1.4vh;
}

.title {
    text-align: left;
    margin:  auto;
    margin-top: 3vh;
    margin-bottom: 60px;
    width: fit-content;
}

#intro {
    margin:  auto;
    width: 70%;
    margin-bottom: 60px;
}

#socials {
    margin:  auto;
    width: 70%;
    margin-bottom: 180px;
}

.intro-text {
    margin: 10px;
}

.projects {
    margin:  auto;
    width: 70%;
    margin-bottom: 180px;
}

.contrast {
    color: var(--contrast)
}

.strong {
    color: var(--strong)
}

a {
    color: var(--contrast)
}

a :visited {
    color: var(--contrast)
}